/* .img-responsive{
  width: auto;
  height: 100%;
} */

body{
  background-color: #f2f2f2;
  color: #717171;

}

@media (min-width: 768px){
  .navbar {
      border-radius: 0px !important;
  }
  body{
    background: url(bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-color: #f2f2f2;
  }
}
